In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.gaussian_process.kernels import RBF, Matern
from sklearn.gaussian_process import kernels,GaussianProcessRegressor
import math
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report
from sklearn.gaussian_process import kernels,GaussianProcessClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score, mean_absolute_error
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder,MinMaxScaler

In [71]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Load the dataset
file_path = 'student_peformance_data.csv'
df = pd.read_csv(file_path)

# Check for missing values
print(df.isnull().sum())

# Handling missing values - Example: Imputing missing values with the most frequent value for categorical variables and mean for numerical variables
for column in df.columns:
    if df[column].dtype == 'O':  # Categorical
        df[column] = df[column].fillna(df[column].mode()[0])
    else:  # Numerical
        df[column] = df[column].fillna(df[column].mean())

# Optionally, detect and handle outliers in numerical variables. The approach varies by case.
# Example: Capping the outliers for the 'age' variable
q_low = df['age'].quantile(0.01)
q_hi  = df['age'].quantile(0.99)
df = df[(df['age'] > q_low) & (df['age'] < q_hi)]

# After handling missing values and outliers, proceed to encoding and feature scaling.

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [109]:
# Assuming 'G3' is the target variable
X = df.drop('G3', axis=1)
y = df['G3']

# Split the dataset into the training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Identifying categorical and numerical features
categorical_features = [var for var in X_train.columns if X_train[var].dtype=='O']
numerical_features = [var for var in X_train.columns if X_train[var].dtype!='O']

# Creating a preprocessing pipeline
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

numerical_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)])

# Including the classifier in the pipeline
model = Pipeline(steps=[('preprocessor', preprocessor),
                        ('classifier', RandomForestClassifier(random_state=42))])

# Training the model
model.fit(X_train, y_train)

# Predicting the test set results
y_pred = model.predict(X_test)

# Evaluating the model
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

Accuracy: 0.3291139240506329
Classification Report:
               precision    recall  f1-score   support

           0       0.38      0.60      0.46         5
           5       0.00      0.00      0.00         4
           6       1.00      0.17      0.29         6
           7       0.00      0.00      0.00         1
           8       0.18      0.33      0.24         6
           9       0.00      0.00      0.00         5
          10       0.44      0.64      0.52        11
          11       0.33      0.60      0.43         5
          12       0.00      0.00      0.00         5
          13       0.50      0.40      0.44         5
          14       0.33      0.50      0.40         6
          15       0.36      0.40      0.38        10
          16       0.00      0.00      0.00         4
          17       0.00      0.00      0.00         3
          18       0.25      1.00      0.40         1
          19       0.00      0.00      0.00         2

    accuracy                           0.33        79
   macro avg       0.24      0.29      0.22        79
weighted avg       0.30      0.33      0.28        79

C:\Users\pujan\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\pujan\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\pujan\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [75]:
file_path = 'student_peformance_data.csv'
df=pd.read_csv(file_path)
df.head().T   #I have transposed the data vertically

                  0        1        2         3       4
school           GP       GP       GP        GP      GP
sex               F        F        F         F       F
age              18       17       15        15      16
address           U        U        U         U       U
famsize         GT3      GT3      LE3       GT3     GT3
Pstatus           A        T        T         T       T
Medu              4        1        1         4       3
Fedu              4        1        1         2       3
Mjob        at_home  at_home  at_home    health   other
Fjob        teacher    other    other  services   other
reason       course   course    other      home    home
guardian     mother   father   mother    mother  father
traveltime        2        1        1         1       1
studytime         2        2        2         3       2
failures          0        0        3         0       0
schoolsup       yes       no      yes        no      no
famsup           no      yes       no       yes     yes
paid             no       no      yes       yes     yes
activities       no       no       no       yes      no
nursery         yes       no      yes       yes     yes
higher          yes      yes      yes       yes     yes
internet         no      yes      yes       yes      no
romantic         no       no       no       yes      no
famrel            4        5        4         3       4
freetime          3        3        3         2       3
goout             4        3        2         2       2
Dalc              1        1        2         1       1
Walc              1        1        3         1       2
health            3        3        3         5       5
absences          6        4       10         2       4
G1                5        5        7        15       6
G2                6        5        8        14      10
G3                6        6       10        15      10

In [76]:
# find categorical variables

categorical = [var for var in df.columns if df[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :\n\n', categorical)

There are 17 categorical variables

The categorical variables are :

 ['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic']

In [77]:
# view the categorical variables

df[categorical].head()

,school,sex,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic
0,GP,F,U,GT3,A,at_home,teacher,course,mother,yes,no,no,no,yes,yes,no,no
1,GP,F,U,GT3,T,at_home,other,course,father,no,yes,no,no,no,yes,yes,no
2,GP,F,U,LE3,T,at_home,other,other,mother,yes,no,yes,no,yes,yes,yes,no
3,GP,F,U,GT3,T,health,services,home,mother,no,yes,yes,yes,yes,yes,yes,yes
4,GP,F,U,GT3,T,other,other,home,father,no,yes,yes,no,yes,yes,no,no

In [78]:
for var in categorical: 
    
    print(df[var].value_counts())
    print('--------------------------')

school
GP    349
MS     46
Name: count, dtype: int64
--------------------------
sex
F    208
M    187
Name: count, dtype: int64
--------------------------
address
U    307
R     88
Name: count, dtype: int64
--------------------------
famsize
GT3    281
LE3    114
Name: count, dtype: int64
--------------------------
Pstatus
T    354
A     41
Name: count, dtype: int64
--------------------------
Mjob
other       141
services    103
at_home      59
teacher      58
health       34
Name: count, dtype: int64
--------------------------
Fjob
other       217
services    111
teacher      29
at_home      20
health       18
Name: count, dtype: int64
--------------------------
reason
course        145
home          109
reputation    105
other          36
Name: count, dtype: int64
--------------------------
guardian
mother    273
father     90
other      32
Name: count, dtype: int64
--------------------------
schoolsup
no     344
yes     51
Name: count, dtype: int64
--------------------------
famsup
yes    242
no     153
Name: count, dtype: int64
--------------------------
paid
no     214
yes    181
Name: count, dtype: int64
--------------------------
activities
yes    201
no     194
Name: count, dtype: int64
--------------------------
nursery
yes    314
no      81
Name: count, dtype: int64
--------------------------
higher
yes    375
no      20
Name: count, dtype: int64
--------------------------
internet
yes    329
no      66
Name: count, dtype: int64
--------------------------
romantic
no     263
yes    132
Name: count, dtype: int64
--------------------------

In [79]:
# View frequency distribution of categorical variables
for var in categorical:
    print(df[var].value_counts() / float(len(df)))

school
GP    0.883544
MS    0.116456
Name: count, dtype: float64
sex
F    0.526582
M    0.473418
Name: count, dtype: float64
address
U    0.777215
R    0.222785
Name: count, dtype: float64
famsize
GT3    0.711392
LE3    0.288608
Name: count, dtype: float64
Pstatus
T    0.896203
A    0.103797
Name: count, dtype: float64
Mjob
other       0.356962
services    0.260759
at_home     0.149367
teacher     0.146835
health      0.086076
Name: count, dtype: float64
Fjob
other       0.549367
services    0.281013
teacher     0.073418
at_home     0.050633
health      0.045570
Name: count, dtype: float64
reason
course        0.367089
home          0.275949
reputation    0.265823
other         0.091139
Name: count, dtype: float64
guardian
mother    0.691139
father    0.227848
other     0.081013
Name: count, dtype: float64
schoolsup
no     0.870886
yes    0.129114
Name: count, dtype: float64
famsup
yes    0.612658
no     0.387342
Name: count, dtype: float64
paid
no     0.541772
yes    0.458228
Name: count, dtype: float64
activities
yes    0.508861
no     0.491139
Name: count, dtype: float64
nursery
yes    0.794937
no     0.205063
Name: count, dtype: float64
higher
yes    0.949367
no     0.050633
Name: count, dtype: float64
internet
yes    0.832911
no     0.167089
Name: count, dtype: float64
romantic
no     0.665823
yes    0.334177
Name: count, dtype: float64

In [80]:
# check for cardinality in categorical variables

for var in categorical:
    
    print(var, ' contains ', len(df[var].unique()), ' labels')

school  contains  2  labels
sex  contains  2  labels
address  contains  2  labels
famsize  contains  2  labels
Pstatus  contains  2  labels
Mjob  contains  5  labels
Fjob  contains  5  labels
reason  contains  4  labels
guardian  contains  3  labels
schoolsup  contains  2  labels
famsup  contains  2  labels
paid  contains  2  labels
activities  contains  2  labels
nursery  contains  2  labels
higher  contains  2  labels
internet  contains  2  labels
romantic  contains  2  labels

In [81]:
# find numerical variables

numerical = [var for var in df.columns if df[var].dtype!='O']

print('There are {} numerical variables\n'.format(len(numerical)))

print('The numerical variables are :', numerical)

There are 16 numerical variables

The numerical variables are : ['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3']

In [82]:
# view the numerical variables

df[numerical].head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,18,4,4,2,2,0,4,3,4,1,1,3,6,5,6,6
1,17,1,1,1,2,0,5,3,3,1,1,3,4,5,5,6
2,15,1,1,1,2,3,4,3,2,2,3,3,10,7,8,10
3,15,4,2,1,3,0,3,2,2,1,1,5,2,15,14,15
4,16,3,3,1,2,0,4,3,2,1,2,5,4,6,10,10

In [83]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [84]:
df[categorical].head()

,school,sex,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic
0,GP,F,U,GT3,A,at_home,teacher,course,mother,yes,no,no,no,yes,yes,no,no
1,GP,F,U,GT3,T,at_home,other,course,father,no,yes,no,no,no,yes,yes,no
2,GP,F,U,LE3,T,at_home,other,other,mother,yes,no,yes,no,yes,yes,yes,no
3,GP,F,U,GT3,T,health,services,home,mother,no,yes,yes,yes,yes,yes,yes,yes
4,GP,F,U,GT3,T,other,other,home,father,no,yes,yes,no,yes,yes,no,no

In [97]:
X = df.drop('G3', axis=1)

y = df['G3']

In [98]:
# split X and y into training and testing sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, shuffle=False)

In [99]:
# check the shape of X_train and X_test

X_train.shape, X_test.shape

((316, 32), (79, 32))

In [100]:
# check data types in X_train

X_train.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
dtype: object

In [101]:
# display categorical variables

categorical = [col for col in X_train.columns if X_train[col].dtypes == 'O']

categorical

['school',
 'sex',
 'address',
 'famsize',
 'Pstatus',
 'Mjob',
 'Fjob',
 'reason',
 'guardian',
 'schoolsup',
 'famsup',
 'paid',
 'activities',
 'nursery',
 'higher',
 'internet',
 'romantic']

In [102]:
# display numerical variables

numerical = [col for col in X_train.columns if X_train[col].dtypes != 'O']

numerical

['age',
 'Medu',
 'Fedu',
 'traveltime',
 'studytime',
 'failures',
 'famrel',
 'freetime',
 'goout',
 'Dalc',
 'Walc',
 'health',
 'absences',
 'G1',
 'G2']

In [103]:
categorical

['school',
 'sex',
 'address',
 'famsize',
 'Pstatus',
 'Mjob',
 'Fjob',
 'reason',
 'guardian',
 'schoolsup',
 'famsup',
 'paid',
 'activities',
 'nursery',
 'higher',
 'internet',
 'romantic']

In [104]:
X_train[categorical].head()

,school,sex,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic
0,GP,F,U,GT3,A,at_home,teacher,course,mother,yes,no,no,no,yes,yes,no,no
1,GP,F,U,GT3,T,at_home,other,course,father,no,yes,no,no,no,yes,yes,no
2,GP,F,U,LE3,T,at_home,other,other,mother,yes,no,yes,no,yes,yes,yes,no
3,GP,F,U,GT3,T,health,services,home,mother,no,yes,yes,yes,yes,yes,yes,yes
4,GP,F,U,GT3,T,other,other,home,father,no,yes,yes,no,yes,yes,no,no

In [105]:
# import category encoders

import category_encoders as ce

In [106]:
# encoder = ce.OneHotEncoder(cols=['school', 'sex', 'address', 'famsize', 'Pstatus', 
#                                  'Mjob', 'Fjob', 'reason','guardian','schoolsup','famsup','paid','activities','nursery','higher','internet','romantic'])

In [107]:
# Encode categorical variables using one-hot encoding
categorical_features = ['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason','guardian','schoolsup','famsup','paid','activities','nursery','higher','internet','romantic']
encoder = OneHotEncoder(drop='first')
X_encoded = encoder.fit_transform(df[categorical_features])

# Combine encoded categorical features with numerical features
numerical_features = [col for col in df.columns if col not in categorical_features + ['G3']]
X_numerical = df[numerical_features]
X = pd.concat([pd.DataFrame(X_encoded.toarray()), X_numerical], axis=1)
X.columns = X.columns.astype(str)  # Convert all column names to strings
y = df['G3']  # Target variable

# Split the data into training and testing sets (70% training, 30% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize and train the Gaussian Naive Bayes classifier
nb_model = GaussianNB()
nb_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = nb_model.predict(X_test)

# Evaluate the model using accuracy score and classification report
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy Score: {accuracy}")

print("Classification Report:")
print(classification_report(y_test, y_pred))

Accuracy Score: 0.20168067226890757
Classification Report:
              precision    recall  f1-score   support

           0       0.33      0.60      0.43        10
           5       0.00      0.00      0.00         6
           6       0.11      0.14      0.12         7
           7       0.07      0.33      0.11         3
           8       0.22      0.42      0.29        12
           9       1.00      0.12      0.22         8
          10       0.00      0.00      0.00        17
          11       0.20      0.14      0.17         7
          12       0.00      0.00      0.00         8
          13       0.50      0.14      0.22         7
          14       0.50      0.33      0.40         9
          15       0.00      0.00      0.00        11
          16       0.15      0.60      0.24         5
          17       0.10      0.33      0.15         3
          18       0.17      0.33      0.22         3
          19       0.00      0.00      0.00         3

    accuracy                           0.20       119
   macro avg       0.21      0.22      0.16       119
weighted avg       0.22      0.20      0.16       119

C:\Users\pujan\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\pujan\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\pujan\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [108]:
X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

ValueError: Found unknown categories [19, 23, 38] in column 38 during transform

In [ ]:
X_train.head()

### Feature Scaling

In [ ]:
cols = X_train.columns

In [ ]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [ ]:
X_train = pd.DataFrame(X_train, columns=[cols])
X_test = pd.DataFrame(X_test, columns=[cols])

In [ ]:
X_train.head()

### Model training

In [ ]:
# train a Gaussian Naive Bayes classifier on the training set
from sklearn.naive_bayes import GaussianNB


# instantiate the model
gnb = GaussianNB()


# fit the model
gnb.fit(X_train, y_train)

In [ ]:
y_pred = gnb.predict(X_test)

y_pred

In [ ]:
from sklearn.metrics import accuracy_score

print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

In [ ]:
# Define the Gaussian Process Classifier model with an RBF kernel
kernel = 1.0 * RBF(length_scale=1.0)
gpc_model = GaussianProcessClassifier(kernel=kernel, n_restarts_optimizer=10, random_state=42)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.metrics import accuracy_score, classification_report
import matplotlib.pyplot as plt

# Load your dataset (replace this with your actual dataset loading code)
# df = pd.read_csv('your_dataset.csv')

# Assuming 'school' is a categorical variable in your dataset
# Encode categorical variables using one-hot encoding
encoder = OneHotEncoder(drop='first', sparse=False)
X_encoded = encoder.fit_transform(df[['school']])

# Combine encoded categorical features with numerical features
X_numerical = df.drop(columns=['school', 'TargetVariable'])  # Adjust columns as needed
X = pd.concat([pd.DataFrame(X_encoded), X_numerical], axis=1)

# Assuming 'TargetVariable' is your target variable column
y = df['TargetVariable']

# Split the data into training and testing sets (70% training, 30% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize and train the Gaussian Process Classifier
kernel = 1.0 * RBF(1.0)
gpc_model = GaussianProcessClassifier(kernel=kernel)
gpc_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = gpc_model.predict(X_test)

# Evaluate the model using accuracy score and classification report
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy Score: {accuracy}")

print("Classification Report:")
print(classification_report(y_test, y_pred))

# Plot the classification results
plt.figure(figsize=(10, 6))
plt.scatter(range(len(y_test)), y_test, c='blue', label='Actual Classes', marker='.')
plt.scatter(range(len(y_pred)), y_pred, c='red', label='Predicted Classes', marker='x')
plt.xlabel('Sample Index')
plt.ylabel('Class')
plt.title('Gaussian Process Classification Results')
plt.legend()
plt.show()